/* Header and Top Navbar */
.top-navbar {
  font-weight: var(--fw-semi-bold);
}

.top-navbar ul a,
.primary-header a.logo-link {
  text-decoration: none;
  letter-spacing: -0.04em;
}

/* CTA */
.cta h2 {
  letter-spacing: -0.03em;
}

/* Footer */
.primary-footer {
  background: var(--neutral-very-dark-blue);
}
