/* Btn */
.btn {
  padding: 1em 1.75em;
  font-weight: var(--fw-semi-bold);
  line-height: 1;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 0 1.125em 1em -1em var(--primary-red-300);
  transition: all 0.2s ease;
}

.btn-primary {
  background-color: var(--primary-red-100);
  color: var(--neutral-light-gray);
}

:is(.btn-primary:hover, .btn-primary:focus-visible) {
  background-color: var(--primary-red-200);
}

.btn-secondary {
  background-color: var(--neutral-light-gray);
  color: var(--primary-red-100);
}

:is(.btn-secondary:hover, .btn-secondary:focus-visible) {
  opacity: 0.85;
}

.heading-primary {
  max-width: 28ch;
}

/* Hamburger */
.hamburger {
  padding: 0.5em;
  background: none;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  display: block;
  background-color: var(--primary-blue-100);
  position: absolute;
  z-index: 10;
  height: 2px;
  width: 24px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 1.5px;
}

.hamburger-icon::before {
  content: "";
  margin-top: -8px;
}

.hamburger-icon::after {
  content: "";
  margin-top: 8px;
}

.hamburger.active .hamburger-icon::before {
  margin-top: 0px;
  transform: rotate(225deg);
}

.hamburger.active span.hamburger-icon {
  background: transparent;
}

.hamburger.active .hamburger-icon::after {
  margin-top: 0px;
  transform: rotate(-225deg);
}

/* Primary Header and Primary Navbar */
.primary-navbar {
  position: absolute;
  z-index: 5;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--neutral-light-gray);
  border-radius: var(--radius-base);
  transition: all 400ms ease-in-out;
}

.primary-navigation-list {
  width: 100%;
  height: 100%;
  gap: 2.4em;
}

.primary-navbar.active {
  top: 0;
}

.primary-navbar a {
  font-size: var(--fs-nav-link);
  font-weight: var(--fw-bold);
}

:is(.primary-navbar a, .logo-link) {
  text-decoration: none;
  letter-spacing: -0.04em;
}

.logo-link {
  width: 8.75rem;
  margin-top: 0.7em;
}

/* Main */
/* Hero */
.hero {
  gap: var(--spacer-8);
}

:is(.hero h1, .hero p) {
  text-align: center;
}

.hero h1 {
  margin-bottom: var(--spacer-4);
}

.hero p {
  margin-bottom: var(--spacer-8);
}

/* Explain Section */
.explain {
  gap: var(--spacer-20);
}

:is(.explain h2, .explain h3, .explain p) {
  text-align: center;
  margin-inline: auto;
}

.explain h2 {
  margin-bottom: var(--spacer-4);
}

.explain h3 {
  margin-bottom: var(--spacer-4);
}

.explain-right {
  --flow-spacer: var(--spacer-10);
}

/* Carousel Section */
.carousel {
  gap: var(--spacer-8);
}

.carousel h2 {
  text-align: center;
}

/* CTA Section */
.cta {
  background: var(--primary-red-100);
}

.cta-inner {
  gap: var(--spacer-8);
}

.cta h2 {
  letter-spacing: -0.03em;
  max-width: 19ch;
}

/* Footer */
.primary-footer {
  background: var(--neutral-dark-blue);
  padding-top: var(--spacer-20);
  padding-bottom: var(--spacer-20);
}

.primary-footer-inner {
  margin-bottom: var(--spacer-20);
  gap: var(--spacer-14);
}

.primary-footer-form {
  flex-wrap: wrap;
  gap: var(--spacer-3);
}

.subscribe-input {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  padding: var(--spacer-3) var(--spacer-6);
  border: none;
  border-radius: var(--radius-full);
}

.bottom-navbar-list {
  gap: var(--spacer-16);
}

.bottom-navbar-list a {
  text-decoration: none;
  color: var(--neutral-light-gray);
}

.primary-footer-social {
  gap: var(--spacer-8);
}

.logo-link img {
  width: 18.75rem;
}

.social-links {
  gap: var(--spacer-5);
}

.social-link img {
  display: inline-block;
  width: 1.5rem;
}

.copyright {
  font-size: var(--fs-sm);
  text-align: center;
  max-width: 100%;
}
