body {
  background-color: var(--neutral-light-gray);
  font-size: var(--fs-base);
  font-family: var(--fm-primary);
  font-weight: var(--fw-regular);
  color: var(--neutral-grayish-blue);
}

:is(h1, h2, h3) {
  color: var(--primary-blue-100);
  font-weight: var(--fw-bold);
  text-align: center;
  letter-spacing: -0.07em;
}

:is(h1, h2) {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
  line-height: 1.2;
}

p {
  max-width: 60ch;
  letter-spacing: -0.05em;
  text-align: center;
}

a {
  color: var(--primary-blue-100);
  letter-spacing: -0.04em;
}
