/* 480px */
@media only screen and (min-width: 30em) {
  :root {
    --fs-lg: 1.25rem;
    --fs-xl: 1.563rem;
    --fs-2xl: 1.953rem;
    --fs-3xl: 2.441rem;
    --fs-4xl: 3.052rem;
  }
}
/* 768px */
@media only screen and (min-width: 48em) {
  :root {
    --fs-base: 1.25rem;
    --fs-lg: 1.563rem;
    --fs-xl: 1.953rem;
    --fs-2xl: 2.441rem;
    --fs-3xl: 3.052rem;
    --fs-4xl: 3.815rem;
  }

  :is(h1, h2, h3, p) {
    text-align: left;
  }

  p {
    margin-left: 0;
    margin-right: 0;
  }
}
/* 992px */
@media only screen and (min-width: 62em) {
  :root {
    --fs-lg: 1.953rem;
    --fs-xl: 2.441rem;
    --fs-2xl: 3.052rem;
    --fs-3xl: 3.815rem;
    --fs-4xl: 4.768rem;
  }
}
/* 1280px */
/* @media only screen and (min-width: 80em) {
} */
/* 1536px */
@media only screen and (min-width: 96em) {
  :root {
    --fs-lg: 2.441rem;
    --fs-xl: 3.052rem;
    --fs-2xl: 3.815rem;
    --fs-3xl: 4.768rem;
    --fs-4xl: 5.96rem;
  }
}
