/* Layout */
.container {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.hidden {
  display: none;
}

/* Spacing */
.mx-auto {
  margin-inline: auto;
}

.py-12 {
  padding-top: var(--spacer-12);
  padding-bottom: var(--spacer-12);
}

.section {
  padding-top: var(--spacer-28);
  padding-bottom: var(--spacer-28);
}

/* Backgroud */
.bg-primary-bright-red {
  background: var(--primary-bright-red);
}

/* Text */
.text-center {
  text-align: center;
}

.text-very-light-gray {
  color: var(--neutral-very-light-gray);
}
